{% extends 'base.html' %}

{% block body %}
<!-- Sign In Section -->
<div class="signin-container body-container" id="signInContainer">
    <h1>Sign In</h1>
    <div class="form-group">
        <input type="email" class="form-control" id="signinEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="signinPassword" placeholder="Password">
    </div>
    <button type="button" class="btn btn-primary btn-signin">Sign In</button>
</div>
{% endblock %}